keras==2.15.0
streamlit==1.35.0
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator         2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem 0.31.0
Python==3.9.13